/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 29, 2024, 2:41:53 PM
    Author     : MSI
*/
/* Float four columns side by side */
.column {
  float: left;
  width: 22%;
  padding: 0 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin:  40px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
 
}


.card {
  box-shadow: 0 4px 8px 0 rgba( 0, 0 , 0, 2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

h1 {
  text-align: center;
}




/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2024, 1:05:57 PM
    Author     : iresh
*/

