/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 9, 2024, 6:46:54 PM
    Author     : Nipu
*/

.card {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 18px;
}

.image img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.order {
    text-align: left;
}

button {
    background-color: blue;
    color: white;
    padding: 12px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 16px;
}

button:hover {
    opacity: 0.7;
}

.card-body {
    display: flex;
    justify-content: center;
}
